textarea {
    min-height: 400px;
}

.email_box {
    outline-style: solid;
    outline-color: #0275d8;
    border-radius: 2px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.email_details {
    outline-style: dotted;
    outline-color: #20b510;
    border-radius: 2px;
}
