{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <table class="table">
        <tr>
            <th>Listing Number</th>
            <th>Title</th>
            <th>Description</th>
            <th>Current Bid</th>
            <th>Category</th>
        </tr>
        {% for listing in listings %}
            <tr>
                <td><a href="{% url 'listing' listing.id %}">Listing {{ listing.id }}</a></td>
                <td>{{ listing.title }}</td>
                <td>{{ listing.description }}</td>
                <td>{{ listing.starting_bid }}</td>
                <td>{{ listing.category }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}