{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing {{ listing.id }}</h1>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Current Bid</th>
        </tr>
            <tr>
                <td>{{ listing.title }}</td>
                <td>{{ listing.description }}</td>
                <td>{{ listing.starting_bid }} dollars</td>
            </tr>
    </table>

    <a href="{% url 'index' %}">All Listings</a>
    <br>
    <br>
    <br>

    <h2>User Actions: </h2>
    <ul>
        {% if user.is_authenticated %}
            {% if listing.creator != user and listing.active == True %}
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit", value="Watchlist Toggle", name="Watchlist">
                </form>
                <br>
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ bidding_form }}
                    <input type="submit", value="Bid">
                </form>
            {% elif listing.creator != user and listing.active == False %}
                {% if user == winning_user %}
                    <br>
                    <h3>    
                        Congrats! You have won this auction!
                    </h3>
                    <br>
                {% else %}
                    <br>
                    <h3>
                        This auction is CLOSED
                    </h3>
                    <br>
                {% endif %}
            {% elif listing.creator ==  user and listing.active == True %} 
                <form action="{% url 'listing' listing.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit", value="Close Auction", name="CloseAuction">
                </form>
            {% elif listing.creator ==  user and listing.active == False %}
                <br>
                <h3>
                    You have CLOSED this auction!
                </h3>
                <br>
            {% endif %}
            <br>
            <form action="{% url 'listing' listing.id %}" method="post">
                {% csrf_token %}
                {{ comment_form }}
                <input type="submit", value="Comment">
            </form>
        {% else %}
        {% endif %}
    </ul>
    <br>
    <br>

    <h2>Bid History:</h2>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Bid Amount</th>
        </tr>
        {% for bid in bid_history %}
            <tr>
                <td>{{ bid.user }}</td>
                <td>{{ bid.amount }} dollars</td>
            </tr>
        {% endfor %}
    </table>

    <h2>Comment History:</h2>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Comment</th>
        </tr>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.user }}</td>
                <td>{{ comment.comment }}</td>
            </tr>
        {% endfor %}
    </table>
    

{% endblock %}