{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Listing</th>
            <th>Listing Title</th>
        </tr>
        {% for item in watchlist %}
            <tr>
                <td>{{ item.user }}</td>
                <td><a href="{% url 'listing' item.listing.id %}">{{ item.listing }}</a></td>
                <td>{{ item.listing.title }}</td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'index' %}">All Listings</a>

{% endblock %}