.info {
    padding: 5px;
    margin: 5px;
}

.bold {
    font-weight: bold;
    font-size: larger;
}

.small {
    font-weight: lighter;
    font-size: smaller;
    text-align: right;
}

.content {
    padding-left: 20px;
}

.post2 {
    outline-style: solid;
    outline-color: rgb(203, 203, 203);
    outline-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    background-color: aliceblue;
    border-radius: 5px;
}
